<div class = ' bg-white dark:bg-gray-800 p-4 mt-7 rounded w-full'>

<div class = 'flex justify-between'>

No. of Items: <%= @total %>

<%= link_to 'Create new', users_create_item_path, class: "px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>

</div>
<div class="relative shadow-md sm:rounded-lg mt-7">
    <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 lg:w-full">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-4 py-3">
                    ID
                </th>
                <th class="px-4 py-3">
                    Collection Name
                </th>
                <th class="px-4 py-3">
                    Name
                </th>
                <th class="px-4 py-4">
                    Tags
                </th>
                <th class="px-4 py-4">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
        <% @items.each_with_index do |item,index| %>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <td class="hidden md:table-cell md:block px-4 py-4">
                    <%= item.id %>
                </td>
                <td class="px-4 py-4">
                    <%= @collection_name[index] %>
                </td>
                <td class="px-4 py-4">
                    <%= item.name %>
                </td>
                <td class="px-4 py-4">
                    <%= item.tags %>
                </td>
                <td class="px-4 py-4">
                    <%= link_to 'Edit', users_view_item_path(item.id), class: 'px-5 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'%>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>
