<div class = 'bg-white dark:bg-gray-800 p-4 mt-8 rounded-lg w-full'>
  <h1 class = "text-2xl text-gray-900 dark:text-white"><strong><%= t('ticket_creation') %></strong></h1>

  <%= form_tag ticket_create_path, method: :post, html: { class: 'max-w-md mx-auto mt-4' } do%>
  
      <%#= hidden_field_tag :collection_id, @collection_id %>

      <div class="relative z-0 w-full mb-5 group">
        <%= text_field_tag :summary, nil, class: "block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer", placeholder: ' ', required: true %>
        <label for="floating_summary" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"><%= t('summary') %></label>
      </div>
      
      <div class="relative z-0 w-full mb-5">
        <label for="collection" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-2xl"><%= t('collections') %>:</label>
        <select id="collection" name='collection_name' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="NA">None</option>
          <% @collections.each do |collection| %>
            <option value="<%= collection.name %>"><%= collection.name %></option>
          <% end %>
        </select>
      </div>

      <div class="relative z-0 w-full mb-5">
        <label for="priority" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-2xl"><%= t('priority') %>:</label>
        <select id="priority" name='priority' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="Low">Low</option>
          <option value="Average">Average</option>
          <option value="High">High</option>
        </select>
      </div>

      <%= submit_tag "Save", name: 'save', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  <% end %>
</div>



